function Field.new 2
push constant 7
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push constant 0
pop this 2
push constant 0
pop this 3
push constant 0
pop local 0
push constant 16
call Array.new 1
pop this 4
push constant 4
call Array.new 1
pop this 5
push constant 4
call Array.new 1
pop this 6
label WHILE_EXP0
push local 0
push constant 4
lt
not
if-goto WHILE_END0
label WHILE_EXP1
push local 1
push constant 4
lt
not
if-goto WHILE_END1
push local 0
push constant 4
call Math.multiply 2
push local 1
add
push this 4
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push constant 0
pop local 1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push pointer 0
return
function Field.dispose 0
push argument 0
pop pointer 0
push this 4
call Array.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Field.slideRowLeft 4
push argument 0
pop pointer 0
push constant 1
pop local 1
label WHILE_EXP0
push local 1
push constant 4
lt
not
if-goto WHILE_END0
push constant 0
pop local 3
push local 1
push argument 1
add
pop pointer 1
push that 0
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
pop local 2
label WHILE_EXP1
push local 3
not
not
if-goto WHILE_END1
push local 2
push constant 1
sub
pop local 2
push local 2
push argument 1
add
pop pointer 1
push that 0
push constant 0
eq
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
pop local 3
push local 2
push constant 1
add
pop local 2
push local 1
push argument 1
add
pop pointer 1
push that 0
pop local 0
push local 1
push argument 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push argument 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE1
push local 2
push constant 0
eq
push local 3
not
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
not
pop local 3
push local 1
push argument 1
add
pop pointer 1
push that 0
pop local 0
push local 1
push argument 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push argument 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE2
goto WHILE_EXP1
label WHILE_END1
label IF_FALSE0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Field.slideLeft 3
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 4
lt
not
if-goto WHILE_END0
push constant 0
pop local 1
label WHILE_EXP1
push local 1
push constant 4
lt
not
if-goto WHILE_END1
push local 1
push this 6
add
push constant 4
push local 0
call Math.multiply 2
push local 1
add
push this 4
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push constant 0
pop local 1
push pointer 0
push this 6
call Field.slideRowLeft 2
pop temp 0
label WHILE_EXP2
push local 1
push constant 4
lt
not
if-goto WHILE_END2
push constant 4
push local 0
call Math.multiply 2
push local 1
add
push this 4
add
push local 1
push this 6
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP2
label WHILE_END2
push constant 0
pop local 1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Field.slideRight 2
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
pop local 1
label WHILE_EXP0
push local 0
push constant 4
lt
not
if-goto WHILE_END0
label WHILE_EXP1
push local 1
push constant 4
lt
not
if-goto WHILE_END1
push local 1
push this 6
add
push local 0
push constant 4
call Math.multiply 2
push constant 3
add
push local 1
sub
push this 4
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push constant 0
pop local 1
push pointer 0
push this 6
call Field.slideRowLeft 2
pop temp 0
label WHILE_EXP2
push local 1
push constant 4
lt
not
if-goto WHILE_END2
push local 0
push constant 4
call Math.multiply 2
push constant 3
add
push local 1
sub
push this 4
add
push local 1
push this 6
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP2
label WHILE_END2
push constant 0
pop local 1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Field.mergeRowLeft 1
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 3
lt
not
if-goto WHILE_END0
push local 0
push argument 1
add
pop pointer 1
push that 0
push local 0
push constant 1
add
push argument 1
add
pop pointer 1
push that 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push argument 1
add
push local 0
push argument 1
add
pop pointer 1
push that 0
push constant 2
call Math.multiply 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push this 2
push local 0
push argument 1
add
pop pointer 1
push that 0
add
pop this 2
push local 0
push constant 1
add
push argument 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Field.mergeLeft 2
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
pop local 1
label WHILE_EXP0
push local 0
push constant 4
lt
not
if-goto WHILE_END0
label WHILE_EXP1
push local 1
push constant 4
lt
not
if-goto WHILE_END1
push local 1
push this 6
add
push constant 4
push local 0
call Math.multiply 2
push local 1
add
push this 4
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push constant 0
pop local 1
push pointer 0
push this 6
call Field.mergeRowLeft 2
pop temp 0
label WHILE_EXP2
push local 1
push constant 4
lt
not
if-goto WHILE_END2
push constant 4
push local 0
call Math.multiply 2
push local 1
add
push this 4
add
push local 1
push this 6
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP2
label WHILE_END2
push constant 0
pop local 1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Field.mergeRight 2
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
pop local 1
label WHILE_EXP0
push local 0
push constant 4
lt
not
if-goto WHILE_END0
label WHILE_EXP1
push local 1
push constant 4
lt
not
if-goto WHILE_END1
push local 1
push this 6
add
push constant 4
push local 0
call Math.multiply 2
push constant 3
add
push local 1
sub
push this 4
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push constant 0
pop local 1
push pointer 0
push this 6
call Field.mergeRowLeft 2
pop temp 0
label WHILE_EXP2
push local 1
push constant 4
lt
not
if-goto WHILE_END2
push constant 4
push local 0
call Math.multiply 2
push constant 3
add
push local 1
sub
push this 4
add
push local 1
push this 6
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP2
label WHILE_END2
push constant 0
pop local 1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Field.moveLeft 1
push argument 0
pop pointer 0
push pointer 0
call Field.copy 1
pop local 0
push pointer 0
call Field.slideLeft 1
pop temp 0
push pointer 0
call Field.mergeLeft 1
pop temp 0
push pointer 0
call Field.slideLeft 1
pop temp 0
push pointer 0
push local 0
call Field.compareState 2
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Field.spawnRandomNum 1
pop temp 0
label IF_FALSE0
push local 0
call Field.dispose 1
pop temp 0
push argument 1
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Field.checkFailed 1
pop temp 0
label IF_FALSE1
push constant 0
return
function Field.moveRight 1
push argument 0
pop pointer 0
push pointer 0
call Field.copy 1
pop local 0
push pointer 0
call Field.slideRight 1
pop temp 0
push pointer 0
call Field.mergeRight 1
pop temp 0
push pointer 0
call Field.slideRight 1
pop temp 0
push pointer 0
push local 0
call Field.compareState 2
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Field.spawnRandomNum 1
pop temp 0
label IF_FALSE0
push local 0
call Field.dispose 1
pop temp 0
push argument 1
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Field.checkFailed 1
pop temp 0
label IF_FALSE1
push constant 0
return
function Field.slideDown 2
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
pop local 1
label WHILE_EXP0
push local 0
push constant 4
lt
not
if-goto WHILE_END0
label WHILE_EXP1
push local 1
push constant 4
lt
not
if-goto WHILE_END1
push local 1
push this 5
add
push constant 12
push constant 4
push local 1
call Math.multiply 2
sub
push local 0
add
push this 4
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push constant 0
pop local 1
push pointer 0
push this 5
call Field.slideRowLeft 2
pop temp 0
label WHILE_EXP2
push local 1
push constant 4
lt
not
if-goto WHILE_END2
push constant 12
push constant 4
push local 1
call Math.multiply 2
sub
push local 0
add
push this 4
add
push local 1
push this 5
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP2
label WHILE_END2
push constant 0
pop local 1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Field.mergeDown 2
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
pop local 1
label WHILE_EXP0
push local 0
push constant 4
lt
not
if-goto WHILE_END0
label WHILE_EXP1
push local 1
push constant 4
lt
not
if-goto WHILE_END1
push local 1
push this 5
add
push constant 12
push constant 4
push local 1
call Math.multiply 2
sub
push local 0
add
push this 4
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push constant 0
pop local 1
push pointer 0
push this 5
call Field.mergeRowLeft 2
pop temp 0
label WHILE_EXP2
push local 1
push constant 4
lt
not
if-goto WHILE_END2
push constant 12
push constant 4
push local 1
call Math.multiply 2
sub
push local 0
add
push this 4
add
push local 1
push this 5
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP2
label WHILE_END2
push constant 0
pop local 1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Field.moveDown 1
push argument 0
pop pointer 0
push pointer 0
call Field.copy 1
pop local 0
push pointer 0
call Field.slideDown 1
pop temp 0
push pointer 0
call Field.mergeDown 1
pop temp 0
push pointer 0
call Field.slideDown 1
pop temp 0
push pointer 0
push local 0
call Field.compareState 2
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Field.spawnRandomNum 1
pop temp 0
label IF_FALSE0
push local 0
call Field.dispose 1
pop temp 0
push argument 1
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Field.checkFailed 1
pop temp 0
label IF_FALSE1
push constant 0
return
function Field.slideUp 2
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
pop local 1
label WHILE_EXP0
push local 0
push constant 4
lt
not
if-goto WHILE_END0
label WHILE_EXP1
push local 1
push constant 4
lt
not
if-goto WHILE_END1
push local 1
push this 5
add
push constant 4
push local 1
call Math.multiply 2
push constant 3
add
push local 0
sub
push this 4
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push constant 0
pop local 1
push pointer 0
push this 5
call Field.slideRowLeft 2
pop temp 0
label WHILE_EXP2
push local 1
push constant 4
lt
not
if-goto WHILE_END2
push constant 4
push local 1
call Math.multiply 2
push constant 3
add
push local 0
sub
push this 4
add
push local 1
push this 5
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP2
label WHILE_END2
push constant 0
pop local 1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Field.mergeUp 2
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
pop local 1
label WHILE_EXP0
push local 0
push constant 4
lt
not
if-goto WHILE_END0
label WHILE_EXP1
push local 1
push constant 4
lt
not
if-goto WHILE_END1
push local 1
push this 5
add
push constant 4
push local 1
call Math.multiply 2
push constant 3
add
push local 0
sub
push this 4
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push constant 0
pop local 1
push pointer 0
push this 5
call Field.mergeRowLeft 2
pop temp 0
label WHILE_EXP2
push local 1
push constant 4
lt
not
if-goto WHILE_END2
push constant 4
push local 1
call Math.multiply 2
push constant 3
add
push local 0
sub
push this 4
add
push local 1
push this 5
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP2
label WHILE_END2
push constant 0
pop local 1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Field.moveUp 1
push argument 0
pop pointer 0
push pointer 0
call Field.copy 1
pop local 0
push pointer 0
call Field.slideUp 1
pop temp 0
push pointer 0
call Field.mergeUp 1
pop temp 0
push pointer 0
call Field.slideUp 1
pop temp 0
push pointer 0
push local 0
call Field.compareState 2
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Field.spawnRandomNum 1
pop temp 0
label IF_FALSE0
push local 0
call Field.dispose 1
pop temp 0
push argument 1
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Field.checkFailed 1
pop temp 0
label IF_FALSE1
push constant 0
return
function Field.getState 2
push argument 0
pop pointer 0
push constant 0
pop local 1
push constant 16
call Array.new 1
pop local 0
label WHILE_EXP0
push local 1
push constant 16
lt
not
if-goto WHILE_END0
push local 1
push local 0
add
push local 1
push this 4
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push local 0
return
function Field.setFailed 0
push argument 0
pop pointer 0
push constant 0
not
pop this 3
push constant 0
return
function Field.getFail 0
push argument 0
pop pointer 0
push this 3
return
function Field.compareState 4
push argument 0
pop pointer 0
push constant 0
pop local 1
push constant 0
pop local 2
push constant 0
not
pop local 3
push argument 1
call Field.getState 1
pop local 0
label WHILE_EXP0
push local 3
push local 1
push constant 4
lt
and
not
if-goto WHILE_END0
label WHILE_EXP1
push local 3
push local 2
push constant 4
lt
and
not
if-goto WHILE_END1
push local 3
push constant 4
push local 1
call Math.multiply 2
push local 2
add
push this 4
add
pop pointer 1
push that 0
push constant 4
push local 1
call Math.multiply 2
push local 2
add
push local 0
add
pop pointer 1
push that 0
eq
and
pop local 3
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP1
label WHILE_END1
push constant 0
pop local 2
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push local 0
call Array.dispose 1
pop temp 0
push local 3
return
function Field.spawnRandomNum 5
push argument 0
pop pointer 0
push constant 0
pop local 3
push constant 2
pop local 4
call Random.random 0
push constant 143
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 4
pop local 4
label IF_FALSE0
label WHILE_EXP0
push local 3
push constant 160
lt
not
if-goto WHILE_END0
push local 3
push constant 1
add
pop local 3
call Random.random 0
push constant 10
call Math.divide 2
pop local 0
push local 0
push this 4
add
pop pointer 1
push that 0
push constant 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
push this 4
add
push local 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
label IF_FALSE1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Field.configureState 1
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 16
lt
not
if-goto WHILE_END0
push local 0
push this 4
add
push local 0
push argument 1
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Field.setScore 0
push argument 0
pop pointer 0
push argument 1
pop this 2
push constant 0
return
function Field.copy 3
push argument 0
pop pointer 0
push constant 0
pop local 2
push constant 16
call Array.new 1
pop local 1
label WHILE_EXP0
push local 2
push constant 16
lt
not
if-goto WHILE_END0
push local 2
push local 1
add
push local 2
push this 4
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP0
label WHILE_END0
push this 0
push this 1
call Field.new 2
pop local 0
push local 0
push local 1
call Field.configureState 2
pop temp 0
push local 1
call Array.dispose 1
pop temp 0
push local 0
push this 2
call Field.setScore 2
pop temp 0
push local 0
return
function Field.checkFailed 1
push argument 0
pop pointer 0
push pointer 0
call Field.copy 1
pop local 0
push local 0
push constant 0
not
call Field.moveLeft 2
pop temp 0
push pointer 0
push local 0
call Field.compareState 2
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
call Field.dispose 1
pop temp 0
push constant 0
return
label IF_FALSE0
push local 0
push constant 0
not
call Field.moveUp 2
pop temp 0
push pointer 0
push local 0
call Field.compareState 2
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
call Field.dispose 1
pop temp 0
push constant 0
return
label IF_FALSE1
push local 0
push constant 0
not
call Field.moveRight 2
pop temp 0
push pointer 0
push local 0
call Field.compareState 2
not
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 0
call Field.dispose 1
pop temp 0
push constant 0
return
label IF_FALSE2
push local 0
push constant 0
not
call Field.moveDown 2
pop temp 0
push pointer 0
push local 0
call Field.compareState 2
not
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 0
call Field.dispose 1
pop temp 0
push constant 0
return
label IF_FALSE3
push local 0
call Field.dispose 1
pop temp 0
push pointer 0
call Field.setFailed 1
pop temp 0
push constant 0
return
function Field.display 4
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 0
push constant 24
push constant 511
push constant 255
call Screen.drawRectangle 4
pop temp 0
push constant 0
push constant 0
push constant 511
push constant 8
call Screen.drawRectangle 4
pop temp 0
push constant 100
push constant 0
push constant 511
push constant 255
call Screen.drawRectangle 4
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push constant 0
push constant 8
push constant 100
push constant 24
call Screen.drawRectangle 4
pop temp 0
push constant 1
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 7
call String.new 1
push constant 83
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
pop local 3
push local 3
call Output.printString 1
pop temp 0
push local 3
call String.dispose 1
pop temp 0
push this 2
call Output.printInt 1
pop temp 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push constant 4
sub
push this 1
push constant 4
sub
push this 0
push constant 68
add
push this 1
push constant 68
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push this 0
push constant 64
add
push this 1
push constant 64
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
pop local 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push constant 4
lt
not
if-goto WHILE_END0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push constant 16
push local 0
call Math.multiply 2
add
push constant 1
add
push this 1
push constant 16
push local 1
call Math.multiply 2
add
push constant 1
add
push this 0
push constant 16
push local 0
call Math.multiply 2
add
push constant 15
add
push this 1
push constant 16
push local 1
call Math.multiply 2
add
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push constant 16384
push constant 32
add
push this 0
push constant 16
call Math.divide 2
add
push this 1
push constant 32
call Math.multiply 2
add
push local 1
push constant 512
call Math.multiply 2
add
push local 0
add
pop local 2
push pointer 0
push local 2
push constant 4
push local 1
call Math.multiply 2
push local 0
add
push this 4
add
pop pointer 1
push that 0
call Field.draw 3
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 3
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
push constant 1
add
pop local 1
push constant 0
pop local 0
label IF_FALSE0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Field.draw 0
push argument 0
pop pointer 0
push argument 2
push constant 2
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push argument 1
call Field.draw2 2
pop temp 0
label IF_FALSE0
push argument 2
push constant 4
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
push argument 1
call Field.draw4 2
pop temp 0
label IF_FALSE1
push argument 2
push constant 8
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
push argument 1
call Field.draw8 2
pop temp 0
label IF_FALSE2
push argument 2
push constant 16
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
push argument 1
call Field.draw16 2
pop temp 0
label IF_FALSE3
push argument 2
push constant 32
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
push argument 1
call Field.draw32 2
pop temp 0
label IF_FALSE4
push argument 2
push constant 64
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push pointer 0
push argument 1
call Field.draw64 2
pop temp 0
label IF_FALSE5
push argument 2
push constant 128
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push pointer 0
push argument 1
call Field.draw128 2
pop temp 0
label IF_FALSE6
push argument 2
push constant 256
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push pointer 0
push argument 1
call Field.draw256 2
pop temp 0
label IF_FALSE7
push argument 2
push constant 512
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push pointer 0
push argument 1
call Field.draw512 2
pop temp 0
label IF_FALSE8
push argument 2
push constant 1024
eq
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push pointer 0
push argument 1
call Field.draw1024 2
pop temp 0
label IF_FALSE9
push argument 2
push constant 2048
eq
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push pointer 0
push argument 1
call Field.draw2048 2
pop temp 0
label IF_FALSE10
push constant 0
return
function Field.draw2 0
push argument 0
pop pointer 0
push argument 1
push constant 0
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 32
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 64
add
push constant 2017
call Memory.poke 2
pop temp 0
push argument 1
push constant 96
add
push constant 3121
call Memory.poke 2
pop temp 0
push argument 1
push constant 128
add
push constant 2065
call Memory.poke 2
pop temp 0
push argument 1
push constant 160
add
push constant 3073
call Memory.poke 2
pop temp 0
push argument 1
push constant 192
add
push constant 1537
call Memory.poke 2
pop temp 0
push argument 1
push constant 224
add
push constant 769
call Memory.poke 2
pop temp 0
push argument 1
push constant 256
add
push constant 385
call Memory.poke 2
pop temp 0
push argument 1
push constant 288
add
push constant 193
call Memory.poke 2
pop temp 0
push argument 1
push constant 320
add
push constant 97
call Memory.poke 2
pop temp 0
push argument 1
push constant 352
add
push constant 49
call Memory.poke 2
pop temp 0
push argument 1
push constant 384
add
push constant 4081
call Memory.poke 2
pop temp 0
push argument 1
push constant 416
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 448
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Field.draw4 0
push argument 0
pop pointer 0
push argument 1
push constant 0
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 32
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 64
add
push constant 1057
call Memory.poke 2
pop temp 0
push argument 1
push constant 96
add
push constant 1057
call Memory.poke 2
pop temp 0
push argument 1
push constant 128
add
push constant 1057
call Memory.poke 2
pop temp 0
push argument 1
push constant 160
add
push constant 1057
call Memory.poke 2
pop temp 0
push argument 1
push constant 192
add
push constant 1057
call Memory.poke 2
pop temp 0
push argument 1
push constant 224
add
push constant 2017
call Memory.poke 2
pop temp 0
push argument 1
push constant 256
add
push constant 1025
call Memory.poke 2
pop temp 0
push argument 1
push constant 288
add
push constant 1025
call Memory.poke 2
pop temp 0
push argument 1
push constant 320
add
push constant 1025
call Memory.poke 2
pop temp 0
push argument 1
push constant 352
add
push constant 1025
call Memory.poke 2
pop temp 0
push argument 1
push constant 384
add
push constant 1025
call Memory.poke 2
pop temp 0
push argument 1
push constant 416
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 448
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Field.draw8 0
push argument 0
pop pointer 0
push argument 1
push constant 0
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 32
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 64
add
push constant 1985
call Memory.poke 2
pop temp 0
push argument 1
push constant 96
add
push constant 3169
call Memory.poke 2
pop temp 0
push argument 1
push constant 128
add
push constant 2081
call Memory.poke 2
pop temp 0
push argument 1
push constant 160
add
push constant 2081
call Memory.poke 2
pop temp 0
push argument 1
push constant 192
add
push constant 3169
call Memory.poke 2
pop temp 0
push argument 1
push constant 224
add
push constant 1985
call Memory.poke 2
pop temp 0
push argument 1
push constant 256
add
push constant 3169
call Memory.poke 2
pop temp 0
push argument 1
push constant 288
add
push constant 2081
call Memory.poke 2
pop temp 0
push argument 1
push constant 320
add
push constant 2081
call Memory.poke 2
pop temp 0
push argument 1
push constant 352
add
push constant 3169
call Memory.poke 2
pop temp 0
push argument 1
push constant 384
add
push constant 1985
call Memory.poke 2
pop temp 0
push argument 1
push constant 416
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 448
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Field.draw16 0
push argument 0
pop pointer 0
push argument 1
push constant 0
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 32
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 64
add
push constant 3857
call Memory.poke 2
pop temp 0
push argument 1
push constant 96
add
push constant 6545
call Memory.poke 2
pop temp 0
push argument 1
push constant 128
add
push constant 4241
call Memory.poke 2
pop temp 0
push argument 1
push constant 160
add
push constant 145
call Memory.poke 2
pop temp 0
push argument 1
push constant 192
add
push constant 145
call Memory.poke 2
pop temp 0
push argument 1
push constant 224
add
push constant 3985
call Memory.poke 2
pop temp 0
push argument 1
push constant 256
add
push constant 6545
call Memory.poke 2
pop temp 0
push argument 1
push constant 288
add
push constant 4241
call Memory.poke 2
pop temp 0
push argument 1
push constant 320
add
push constant 4241
call Memory.poke 2
pop temp 0
push argument 1
push constant 352
add
push constant 6545
call Memory.poke 2
pop temp 0
push argument 1
push constant 384
add
push constant 3857
call Memory.poke 2
pop temp 0
push argument 1
push constant 416
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 448
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Field.draw32 0
push argument 0
pop pointer 0
push argument 1
push constant 0
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 32
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 64
add
push constant 15481
call Memory.poke 2
pop temp 0
push argument 1
push constant 96
add
push constant 26317
call Memory.poke 2
pop temp 0
push argument 1
push constant 128
add
push constant 17029
call Memory.poke 2
pop temp 0
push argument 1
push constant 160
add
push constant 16513
call Memory.poke 2
pop temp 0
push argument 1
push constant 192
add
push constant 24769
call Memory.poke 2
pop temp 0
push argument 1
push constant 224
add
push constant 12409
call Memory.poke 2
pop temp 0
push argument 1
push constant 256
add
push constant 6337
call Memory.poke 2
pop temp 0
push argument 1
push constant 288
add
push constant 2177
call Memory.poke 2
pop temp 0
push argument 1
push constant 320
add
push constant 3205
call Memory.poke 2
pop temp 0
push argument 1
push constant 352
add
push constant 1741
call Memory.poke 2
pop temp 0
push argument 1
push constant 384
add
push constant 32377
call Memory.poke 2
pop temp 0
push argument 1
push constant 416
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 448
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Field.draw64 0
push argument 0
pop pointer 0
push argument 1
push constant 0
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 32
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 64
add
push constant 17017
call Memory.poke 2
pop temp 0
push argument 1
push constant 96
add
push constant 17101
call Memory.poke 2
pop temp 0
push argument 1
push constant 128
add
push constant 17029
call Memory.poke 2
pop temp 0
push argument 1
push constant 160
add
push constant 16901
call Memory.poke 2
pop temp 0
push argument 1
push constant 192
add
push constant 16901
call Memory.poke 2
pop temp 0
push argument 1
push constant 224
add
push constant 32381
call Memory.poke 2
pop temp 0
push argument 1
push constant 256
add
push constant 16589
call Memory.poke 2
pop temp 0
push argument 1
push constant 288
add
push constant 16517
call Memory.poke 2
pop temp 0
push argument 1
push constant 320
add
push constant 16517
call Memory.poke 2
pop temp 0
push argument 1
push constant 352
add
push constant 16589
call Memory.poke 2
pop temp 0
push argument 1
push constant 384
add
push constant 16505
call Memory.poke 2
pop temp 0
push argument 1
push constant 416
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 448
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Field.draw128 0
push argument 0
pop pointer 0
push argument 1
push constant 0
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 32
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 64
add
push constant 14565
call Memory.poke 2
pop temp 0
push argument 1
push constant 96
add
push constant 28085
call Memory.poke 2
pop temp 0
push argument 1
push constant 128
add
push constant 17685
call Memory.poke 2
pop temp 0
push argument 1
push constant 160
add
push constant 17669
call Memory.poke 2
pop temp 0
push argument 1
push constant 192
add
push constant 28037
call Memory.poke 2
pop temp 0
push argument 1
push constant 224
add
push constant 14469
call Memory.poke 2
pop temp 0
push argument 1
push constant 256
add
push constant 27845
call Memory.poke 2
pop temp 0
push argument 1
push constant 288
add
push constant 17509
call Memory.poke 2
pop temp 0
push argument 1
push constant 320
add
push constant 17461
call Memory.poke 2
pop temp 0
push argument 1
push constant 352
add
push constant 27669
call Memory.poke 2
pop temp 0
push argument 1
push constant 384
add
push constant 14837
call Memory.poke 2
pop temp 0
push argument 1
push constant 416
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 448
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Field.draw256 0
push argument 0
pop pointer 0
push argument 1
push constant 0
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 32
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 64
add
push constant 31677
call Memory.poke 2
pop temp 0
push argument 1
push constant 96
add
push constant 18597
call Memory.poke 2
pop temp 0
push argument 1
push constant 128
add
push constant 18597
call Memory.poke 2
pop temp 0
push argument 1
push constant 160
add
push constant 2209
call Memory.poke 2
pop temp 0
push argument 1
push constant 192
add
push constant 2225
call Memory.poke 2
pop temp 0
push argument 1
push constant 224
add
push constant 2193
call Memory.poke 2
pop temp 0
push argument 1
push constant 256
add
push constant 31641
call Memory.poke 2
pop temp 0
push argument 1
push constant 288
add
push constant 18953
call Memory.poke 2
pop temp 0
push argument 1
push constant 320
add
push constant 18957
call Memory.poke 2
pop temp 0
push argument 1
push constant 352
add
push constant 18949
call Memory.poke 2
pop temp 0
push argument 1
push constant 384
add
push constant 31677
call Memory.poke 2
pop temp 0
push argument 1
push constant 416
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 448
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Field.draw512 0
push argument 0
pop pointer 0
push argument 1
push constant 0
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 32
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 64
add
push constant 14717
call Memory.poke 2
pop temp 0
push argument 1
push constant 96
add
push constant 27909
call Memory.poke 2
pop temp 0
push argument 1
push constant 128
add
push constant 17669
call Memory.poke 2
pop temp 0
push argument 1
push constant 160
add
push constant 16645
call Memory.poke 2
pop temp 0
push argument 1
push constant 192
add
push constant 24837
call Memory.poke 2
pop temp 0
push argument 1
push constant 224
add
push constant 12605
call Memory.poke 2
pop temp 0
push argument 1
push constant 256
add
push constant 4449
call Memory.poke 2
pop temp 0
push argument 1
push constant 288
add
push constant 6465
call Memory.poke 2
pop temp 0
push argument 1
push constant 320
add
push constant 3393
call Memory.poke 2
pop temp 0
push argument 1
push constant 352
add
push constant 1377
call Memory.poke 2
pop temp 0
push argument 1
push constant 384
add
push constant 32061
call Memory.poke 2
pop temp 0
push argument 1
push constant 416
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 448
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Field.draw1024 0
push argument 0
pop pointer 0
push argument 1
push constant 0
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 32
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 64
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 96
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 128
add
push constant 21029
call Memory.poke 2
pop temp 0
push argument 1
push constant 160
add
push constant 22389
call Memory.poke 2
pop temp 0
push argument 1
push constant 192
add
push constant 21845
call Memory.poke 2
pop temp 0
push argument 1
push constant 224
add
push constant 29781
call Memory.poke 2
pop temp 0
push argument 1
push constant 256
add
push constant 18005
call Memory.poke 2
pop temp 0
push argument 1
push constant 288
add
push constant 17269
call Memory.poke 2
pop temp 0
push argument 1
push constant 320
add
push constant 18213
call Memory.poke 2
pop temp 0
push argument 1
push constant 352
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 384
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 416
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 448
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Field.draw2048 0
push argument 0
pop pointer 0
push argument 1
push constant 0
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 32
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 64
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 96
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 128
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 160
add
push constant 30445
call Memory.poke 2
pop temp 0
push argument 1
push constant 192
add
push constant 22185
call Memory.poke 2
pop temp 0
push argument 1
push constant 224
add
push constant 30381
call Memory.poke 2
pop temp 0
push argument 1
push constant 256
add
push constant 21669
call Memory.poke 2
pop temp 0
push argument 1
push constant 288
add
push constant 29933
call Memory.poke 2
pop temp 0
push argument 1
push constant 320
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 352
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 384
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 416
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 448
add
push constant 1
call Memory.poke 2
pop temp 0
push argument 1
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
