function Field.new 2
push constant 8
call Memory.alloc 1
pop pointer 0
push constant 224
pop this 0
push constant 96
pop this 1
push constant 0
pop this 2
push constant 0
pop this 3
push constant 0
pop this 4
push constant 0
pop local 0
push constant 16
call Array.new 1
pop this 5
push constant 4
call Array.new 1
pop this 6
push constant 4
call Array.new 1
pop this 7
label WHILE_EXP0
push local 0
push constant 4
lt
not
if-goto WHILE_END0
label WHILE_EXP1
push local 1
push constant 4
lt
not
if-goto WHILE_END1
push local 0
push constant 4
call Math.multiply 2
push local 1
add
push this 5
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push constant 0
pop local 1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push pointer 0
return
function Field.dispose 0
push argument 0
pop pointer 0
push this 6
call Array.dispose 1
pop temp 0
push this 7
call Array.dispose 1
pop temp 0
push this 5
call Array.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Field.slideRowLeft 4
push argument 0
pop pointer 0
push constant 1
pop local 1
label WHILE_EXP0
push local 1
push constant 4
lt
not
if-goto WHILE_END0
push constant 0
pop local 3
push local 1
push argument 1
add
pop pointer 1
push that 0
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
pop local 2
label WHILE_EXP1
push local 3
not
not
if-goto WHILE_END1
push local 2
push constant 1
sub
pop local 2
push local 2
push argument 1
add
pop pointer 1
push that 0
push constant 0
eq
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
pop local 3
push local 2
push constant 1
add
pop local 2
push local 1
push argument 1
add
pop pointer 1
push that 0
pop local 0
push local 1
push argument 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push argument 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE1
push local 2
push constant 0
eq
push local 3
not
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
not
pop local 3
push local 1
push argument 1
add
pop pointer 1
push that 0
pop local 0
push local 1
push argument 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push argument 1
add
push local 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE2
goto WHILE_EXP1
label WHILE_END1
label IF_FALSE0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Field.slideLeft 3
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 4
lt
not
if-goto WHILE_END0
push constant 0
pop local 1
label WHILE_EXP1
push local 1
push constant 4
lt
not
if-goto WHILE_END1
push local 1
push this 7
add
push constant 4
push local 0
call Math.multiply 2
push local 1
add
push this 5
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push constant 0
pop local 1
push pointer 0
push this 7
call Field.slideRowLeft 2
pop temp 0
label WHILE_EXP2
push local 1
push constant 4
lt
not
if-goto WHILE_END2
push constant 4
push local 0
call Math.multiply 2
push local 1
add
push this 5
add
push local 1
push this 7
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP2
label WHILE_END2
push constant 0
pop local 1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Field.slideRight 2
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
pop local 1
label WHILE_EXP0
push local 0
push constant 4
lt
not
if-goto WHILE_END0
label WHILE_EXP1
push local 1
push constant 4
lt
not
if-goto WHILE_END1
push local 1
push this 7
add
push local 0
push constant 4
call Math.multiply 2
push constant 3
add
push local 1
sub
push this 5
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push constant 0
pop local 1
push pointer 0
push this 7
call Field.slideRowLeft 2
pop temp 0
label WHILE_EXP2
push local 1
push constant 4
lt
not
if-goto WHILE_END2
push local 0
push constant 4
call Math.multiply 2
push constant 3
add
push local 1
sub
push this 5
add
push local 1
push this 7
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP2
label WHILE_END2
push constant 0
pop local 1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Field.mergeRowLeft 1
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 3
lt
not
if-goto WHILE_END0
push local 0
push argument 1
add
pop pointer 1
push that 0
push local 0
push constant 1
add
push argument 1
add
pop pointer 1
push that 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push argument 1
add
push local 0
push argument 1
add
pop pointer 1
push that 0
push constant 2
call Math.multiply 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push argument 1
add
pop pointer 1
push that 0
push constant 2048
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Field.setWin 1
pop temp 0
label IF_FALSE1
push this 2
push local 0
push argument 1
add
pop pointer 1
push that 0
add
pop this 2
push local 0
push constant 1
add
push argument 1
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
label IF_FALSE0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Field.mergeLeft 2
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
pop local 1
label WHILE_EXP0
push local 0
push constant 4
lt
not
if-goto WHILE_END0
label WHILE_EXP1
push local 1
push constant 4
lt
not
if-goto WHILE_END1
push local 1
push this 7
add
push constant 4
push local 0
call Math.multiply 2
push local 1
add
push this 5
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push constant 0
pop local 1
push pointer 0
push this 7
call Field.mergeRowLeft 2
pop temp 0
label WHILE_EXP2
push local 1
push constant 4
lt
not
if-goto WHILE_END2
push constant 4
push local 0
call Math.multiply 2
push local 1
add
push this 5
add
push local 1
push this 7
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP2
label WHILE_END2
push constant 0
pop local 1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Field.mergeRight 2
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
pop local 1
label WHILE_EXP0
push local 0
push constant 4
lt
not
if-goto WHILE_END0
label WHILE_EXP1
push local 1
push constant 4
lt
not
if-goto WHILE_END1
push local 1
push this 7
add
push constant 4
push local 0
call Math.multiply 2
push constant 3
add
push local 1
sub
push this 5
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push constant 0
pop local 1
push pointer 0
push this 7
call Field.mergeRowLeft 2
pop temp 0
label WHILE_EXP2
push local 1
push constant 4
lt
not
if-goto WHILE_END2
push constant 4
push local 0
call Math.multiply 2
push constant 3
add
push local 1
sub
push this 5
add
push local 1
push this 7
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP2
label WHILE_END2
push constant 0
pop local 1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Field.moveLeft 1
push argument 0
pop pointer 0
push pointer 0
call Field.copy 1
pop local 0
push pointer 0
call Field.slideLeft 1
pop temp 0
push pointer 0
call Field.mergeLeft 1
pop temp 0
push pointer 0
call Field.slideLeft 1
pop temp 0
push pointer 0
push local 0
call Field.compareState 2
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Field.spawnRandomNum 1
pop temp 0
label IF_FALSE0
push local 0
call Field.dispose 1
pop temp 0
push argument 1
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Field.checkFailed 1
pop temp 0
label IF_FALSE1
push constant 0
return
function Field.moveRight 1
push argument 0
pop pointer 0
push pointer 0
call Field.copy 1
pop local 0
push pointer 0
call Field.slideRight 1
pop temp 0
push pointer 0
call Field.mergeRight 1
pop temp 0
push pointer 0
call Field.slideRight 1
pop temp 0
push pointer 0
push local 0
call Field.compareState 2
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Field.spawnRandomNum 1
pop temp 0
label IF_FALSE0
push local 0
call Field.dispose 1
pop temp 0
push argument 1
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Field.checkFailed 1
pop temp 0
label IF_FALSE1
push constant 0
return
function Field.slideDown 2
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
pop local 1
label WHILE_EXP0
push local 0
push constant 4
lt
not
if-goto WHILE_END0
label WHILE_EXP1
push local 1
push constant 4
lt
not
if-goto WHILE_END1
push local 1
push this 6
add
push constant 12
push constant 4
push local 1
call Math.multiply 2
sub
push local 0
add
push this 5
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push constant 0
pop local 1
push pointer 0
push this 6
call Field.slideRowLeft 2
pop temp 0
label WHILE_EXP2
push local 1
push constant 4
lt
not
if-goto WHILE_END2
push constant 12
push constant 4
push local 1
call Math.multiply 2
sub
push local 0
add
push this 5
add
push local 1
push this 6
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP2
label WHILE_END2
push constant 0
pop local 1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Field.mergeDown 2
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
pop local 1
label WHILE_EXP0
push local 0
push constant 4
lt
not
if-goto WHILE_END0
label WHILE_EXP1
push local 1
push constant 4
lt
not
if-goto WHILE_END1
push local 1
push this 6
add
push constant 12
push constant 4
push local 1
call Math.multiply 2
sub
push local 0
add
push this 5
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push constant 0
pop local 1
push pointer 0
push this 6
call Field.mergeRowLeft 2
pop temp 0
label WHILE_EXP2
push local 1
push constant 4
lt
not
if-goto WHILE_END2
push constant 12
push constant 4
push local 1
call Math.multiply 2
sub
push local 0
add
push this 5
add
push local 1
push this 6
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP2
label WHILE_END2
push constant 0
pop local 1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Field.moveDown 1
push argument 0
pop pointer 0
push pointer 0
call Field.copy 1
pop local 0
push pointer 0
call Field.slideDown 1
pop temp 0
push pointer 0
call Field.mergeDown 1
pop temp 0
push pointer 0
call Field.slideDown 1
pop temp 0
push pointer 0
push local 0
call Field.compareState 2
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Field.spawnRandomNum 1
pop temp 0
label IF_FALSE0
push local 0
call Field.dispose 1
pop temp 0
push argument 1
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Field.checkFailed 1
pop temp 0
label IF_FALSE1
push constant 0
return
function Field.slideUp 2
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
pop local 1
label WHILE_EXP0
push local 0
push constant 4
lt
not
if-goto WHILE_END0
label WHILE_EXP1
push local 1
push constant 4
lt
not
if-goto WHILE_END1
push local 1
push this 6
add
push constant 4
push local 1
call Math.multiply 2
push constant 3
add
push local 0
sub
push this 5
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push constant 0
pop local 1
push pointer 0
push this 6
call Field.slideRowLeft 2
pop temp 0
label WHILE_EXP2
push local 1
push constant 4
lt
not
if-goto WHILE_END2
push constant 4
push local 1
call Math.multiply 2
push constant 3
add
push local 0
sub
push this 5
add
push local 1
push this 6
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP2
label WHILE_END2
push constant 0
pop local 1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Field.mergeUp 2
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 0
pop local 1
label WHILE_EXP0
push local 0
push constant 4
lt
not
if-goto WHILE_END0
label WHILE_EXP1
push local 1
push constant 4
lt
not
if-goto WHILE_END1
push local 1
push this 6
add
push constant 4
push local 1
call Math.multiply 2
push constant 3
add
push local 0
sub
push this 5
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push constant 0
pop local 1
push pointer 0
push this 6
call Field.mergeRowLeft 2
pop temp 0
label WHILE_EXP2
push local 1
push constant 4
lt
not
if-goto WHILE_END2
push constant 4
push local 1
call Math.multiply 2
push constant 3
add
push local 0
sub
push this 5
add
push local 1
push this 6
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP2
label WHILE_END2
push constant 0
pop local 1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Field.moveUp 1
push argument 0
pop pointer 0
push pointer 0
call Field.copy 1
pop local 0
push pointer 0
call Field.slideUp 1
pop temp 0
push pointer 0
call Field.mergeUp 1
pop temp 0
push pointer 0
call Field.slideUp 1
pop temp 0
push pointer 0
push local 0
call Field.compareState 2
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Field.spawnRandomNum 1
pop temp 0
label IF_FALSE0
push local 0
call Field.dispose 1
pop temp 0
push argument 1
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Field.checkFailed 1
pop temp 0
label IF_FALSE1
push constant 0
return
function Field.getState 2
push argument 0
pop pointer 0
push constant 0
pop local 1
push constant 16
call Array.new 1
pop local 0
label WHILE_EXP0
push local 1
push constant 16
lt
not
if-goto WHILE_END0
push local 1
push local 0
add
push local 1
push this 5
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push local 0
return
function Field.setFailed 0
push argument 0
pop pointer 0
push constant 0
not
pop this 3
push constant 0
return
function Field.getFail 0
push argument 0
pop pointer 0
push this 3
return
function Field.setWin 0
push argument 0
pop pointer 0
push constant 0
not
pop this 4
push constant 0
return
function Field.getWin 0
push argument 0
pop pointer 0
push this 4
return
function Field.getX 0
push argument 0
pop pointer 0
push this 0
return
function Field.getY 0
push argument 0
pop pointer 0
push this 1
return
function Field.compareState 4
push argument 0
pop pointer 0
push constant 0
pop local 1
push constant 0
pop local 2
push constant 0
not
pop local 3
push argument 1
call Field.getState 1
pop local 0
label WHILE_EXP0
push local 3
push local 1
push constant 4
lt
and
not
if-goto WHILE_END0
label WHILE_EXP1
push local 3
push local 2
push constant 4
lt
and
not
if-goto WHILE_END1
push local 3
push constant 4
push local 1
call Math.multiply 2
push local 2
add
push this 5
add
pop pointer 1
push that 0
push constant 4
push local 1
call Math.multiply 2
push local 2
add
push local 0
add
pop pointer 1
push that 0
eq
and
pop local 3
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP1
label WHILE_END1
push constant 0
pop local 2
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push local 0
call Array.dispose 1
pop temp 0
push local 3
return
function Field.spawnRandomNum 5
push argument 0
pop pointer 0
push constant 0
pop local 3
push constant 2
pop local 4
call Random.random 0
push constant 143
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 4
pop local 4
label IF_FALSE0
label WHILE_EXP0
push local 3
push constant 160
lt
not
if-goto WHILE_END0
push local 3
push constant 1
add
pop local 3
call Random.random 0
push constant 10
call Math.divide 2
pop local 0
push local 0
push this 5
add
pop pointer 1
push that 0
push constant 0
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
push this 5
add
push local 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
label IF_FALSE1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Field.configureState 1
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 16
lt
not
if-goto WHILE_END0
push local 0
push this 5
add
push local 0
push argument 1
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Field.setScore 0
push argument 0
pop pointer 0
push argument 1
pop this 2
push constant 0
return
function Field.copy 3
push argument 0
pop pointer 0
push constant 0
pop local 2
push constant 16
call Array.new 1
pop local 1
label WHILE_EXP0
push local 2
push constant 16
lt
not
if-goto WHILE_END0
push local 2
push local 1
add
push local 2
push this 5
add
pop pointer 1
push that 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP0
label WHILE_END0
call Field.new 0
pop local 0
push local 0
push local 1
call Field.configureState 2
pop temp 0
push local 1
call Array.dispose 1
pop temp 0
push local 0
push this 2
call Field.setScore 2
pop temp 0
push local 0
return
function Field.checkFailed 1
push argument 0
pop pointer 0
push pointer 0
call Field.copy 1
pop local 0
push local 0
push constant 0
not
call Field.moveLeft 2
pop temp 0
push pointer 0
push local 0
call Field.compareState 2
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
call Field.dispose 1
pop temp 0
push constant 0
return
label IF_FALSE0
push local 0
push constant 0
not
call Field.moveUp 2
pop temp 0
push pointer 0
push local 0
call Field.compareState 2
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
call Field.dispose 1
pop temp 0
push constant 0
return
label IF_FALSE1
push local 0
push constant 0
not
call Field.moveRight 2
pop temp 0
push pointer 0
push local 0
call Field.compareState 2
not
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 0
call Field.dispose 1
pop temp 0
push constant 0
return
label IF_FALSE2
push local 0
push constant 0
not
call Field.moveDown 2
pop temp 0
push pointer 0
push local 0
call Field.compareState 2
not
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push local 0
call Field.dispose 1
pop temp 0
push constant 0
return
label IF_FALSE3
push local 0
call Field.dispose 1
pop temp 0
push pointer 0
call Field.setFailed 1
pop temp 0
push constant 0
return
function Field.display 4
push argument 0
pop pointer 0
push constant 7
call String.new 1
push constant 83
call String.appendChar 2
push constant 67
call String.appendChar 2
push constant 79
call String.appendChar 2
push constant 82
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
pop local 3
push constant 7
push constant 27
call Output.moveCursor 2
pop temp 0
push local 3
call Output.printString 1
pop temp 0
push local 3
call String.dispose 1
pop temp 0
push this 2
call Output.printInt 1
pop temp 0
push constant 0
pop local 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push constant 4
lt
not
if-goto WHILE_END0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push constant 16
push local 0
call Math.multiply 2
add
push constant 1
add
push this 1
push constant 16
push local 1
call Math.multiply 2
add
push constant 1
add
push this 0
push constant 16
push local 0
call Math.multiply 2
add
push constant 15
add
push this 1
push constant 16
push local 1
call Math.multiply 2
add
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push constant 16384
push constant 32
add
push this 0
push constant 16
call Math.divide 2
add
push this 1
push constant 32
call Math.multiply 2
add
push local 1
push constant 512
call Math.multiply 2
add
push local 0
add
pop local 2
push local 2
push constant 4
push local 1
call Math.multiply 2
push local 0
add
push this 5
add
pop pointer 1
push that 0
call Drawer.draw 2
pop temp 0
push local 0
push constant 1
add
pop local 0
push local 0
push constant 3
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
push constant 1
add
pop local 1
push constant 0
pop local 0
label IF_FALSE0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
